alabaster==0.7.12
argh==0.26.2
attrs==21.4.0
Babel==2.9.1
bleach==4.1.0
bump2version==0.5.11
certifi==2021.10.8
charset-normalizer==2.0.12
Click==7.0
coverage==6.3.2
distlib==0.3.4
docutils==0.17.1
entrypoints==0.3
filelock==3.6.0
flake8==3.7.8
idna==3.3
imagesize==1.3.0
importlib-metadata==4.11.3
iniconfig==1.1.1
Jinja2==3.1.0
joblib==1.1.0
MarkupSafe==2.1.1
mccabe==0.6.1
mypy==0.942
mypy-extensions==0.4.3
numpy==1.22.3
packaging==21.3
pathtools==0.1.2
pkg_resources==0.0.0
pkginfo==1.8.2
platformdirs==2.5.1
pluggy==0.13.1
py==1.11.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.11.2
pyparsing==3.0.7
pytest==6.2.4
pytest-cov==3.0.0
pytest-cover==3.0.0
pytest-skip-slow==0.0.3
pytz==2022.1
PyYAML==6.0
readme-renderer==34.0
requests==2.27.1
requests-toolbelt==0.9.1
scikit-learn==1.0.2
scikit-learn-extra==0.2.0
scipy==1.8.0
six==1.16.0
sklearn==0.0
snowballstemmer==2.2.0
Sphinx==4.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
threadpoolctl==3.1.0
toml==0.10.2
tomli==2.0.1
tox==3.14.0
tqdm==4.63.1
twine==1.14.0
typing_extensions==4.1.1
urllib3==1.26.9
virtualenv==20.13.4
watchdog==0.9.0
webencodings==0.5.1
zipp==3.7.0
